.launches {

}
.launchWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 640px;
}

.launchWrapper::-webkit-scrollbar {
  display: none;
}
