.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 35%;
}

.header .navBar {
  margin-right: 200px;
  display: flex;
  flex-direction: column;
}

.navBar a {
  font-size: 26px;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }

  .header .navBar {
  margin-right: 0;
  display: block;
  }

  .navBar a {
    margin-right: 10px;
  }
}

