.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 35%;
}

.header .navBar {
  margin-right: 200px;
  display: flex;
  flex-direction: column;
}

.navBar a {
  font-size: 26px;
  color: #fff;
}
